.calc {
  display: flex;
  flex-direction: column;

  h3 {
    align-self: center;
  }
}

.calcHeader {

}

.calcTable {
  li {
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;

    margin-bottom: 1rem;
    border-bottom: 1px solid #cccccc;

    align-self: center;

    span {
      align-self: center;

    }
  }
}

.priceBlock {
  display: flex;
  max-width: 700px;

  width: 100%;
  justify-content: flex-end;
}

.btn {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 150px;
  margin-right: 2rem;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: var(--main-bg-header);
  font-family: var(--main-ff-lato-reg);
  text-transform: uppercase;
  color: var(--main-font-color);
  letter-spacing: 2px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    color: var(--main-font-color-hover);
    background-color: var(--main-bg-hover);
  }
}

.price {
  display: flex;
  max-width: 150px;
  width: 100%;
  justify-content: space-between;
}