@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.app_wrap {
  display: grid;
  min-height: 100vh;
  //grid-template-columns: 1fr 5fr;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 75px 2rem 9fr 100px;
}

.mainContent {
  display: grid;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

