.mainContent {
  display: grid;
  grid-template-rows: 1fr 8fr;
}

.sliderBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  height: 250px;
  overflow: hidden;
  background-color: #0b0e38;
  margin-bottom: 2rem;
}

.productWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}



